
* {
    margin:  0;
    padding: 0;
}

/* Layout */

html, body {
    background-color: #f9f9f9;
    color:            #505050;
    font-family:      "Roboto", Helvetica, Arial, sans-serif;
    width:            100%;
    height:           100%;
}

.container {
    height:   100%;
    overflow: hidden;
}

main {
    background:   #ffffff;
    margin:       0 auto;
    width:        1024px;
    border:       1px solid #f8f8f8;
    border-raius: 4px;
    display:      flex;
    flex-flow:    column;
    height:       100%;
}

header {
    flex:        0 1 60px;
    padding:     0 10px;
    align-items: center;
}

article { flex: 1 1 auto; }

footer {
    flex:       2 1 40px;
    border-top: 1px solid #eee;
    padding:    10px 10px;
}

main, header {
    border-bottom: 1px solid #eee;
}

header, footer {
    display:         flex;
    justify-content: space-between;
}

.header-title {
    flex:      11;
    font-size: 1.5em;
}

.header-button {
    flex:    1;
    padding: 5px;
}

article {
    overflow: auto;
}

.table {
    width:           100%;
    border-collapse: collapse;
    padding-bottom:  15px;
}

.table thead th, .table tbody td {
    padding:    10px 15px;
    text-align: left;
}

.table tr:last-child {
    border-bottom: none;
}

.table .acoes {
    border-left: 1px solid #eeeeee;
}

.footer-item {
    flex: 2;
}

.btn {
    display:             inline-block;
    border:              1px solid #fff;
    color:               #fff;
    border-radius:       3px;
    text-align:          center;
    white-space:         nowrap;
    vertical-align:      middle;
    cursor:              pointer;
    height:              25px;
    width:               30px;
    background-position: center;
    background-repeat:   no-repeat;
    background-size:     65% auto;
}

/* Style */

.table {
    background: #ffffff;
}

.table tbody tr:nth-child(odd) {
    background: #f5f5f5;
}

.btn-cancelar {
    background-color: #eeeeee;
    border-color:     #cccccc;
    background-image: url(../images/block-helper.png);
}

.btn-editar {
    background-color: #ec971f;
    border-color:     #d58512;
    background-image: url(../images/pencil.png);
}

.btn-excluir {
    background-color: #c9302c;
    border-color:     #ac2925;
    background-image: url(../images/delete.png);
}

.btn-salvar {
    background-color: #358753;
    border-color:     #2b6e44;
    background-image: url(../images/content-save.png);
}

td[contenteditable=true] {
    border: 1px dashed #ccc;
}

/* Helpers */

.hidden {
    display: none;
}

.text-center {
    text-align: center !important;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
}

tr.pendente .btn-editar, tr.pendente .btn-excluir {
    display: none;
}

tr:not(.pendente) .btn-salvar, tr:not(.pendente) .btn-cancelar {
    display: none;
}